<a href="https://colab.research.google.com/github/PrasadWakle/INeuron_Assignments/blob/master/Programming_Assignment2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Write a Python program to convert kilometers to miles?

In [3]:
km = float(input("Enter kilometer(s):"))

mile = km * 0.62137

print(f"{km} km  = {mile} miles")

Enter kilometer(s):2
2.0km  = 1.24274miles

2. Write a Python program to convert Celsius to Fahrenheit?

In [13]:
cel = float(input("Enter degree(s) in celcius:"))

farh = (cel * (9/5)) + 32

print(f"{cel}\N{DEGREE SIGN}C = {farh}\N{DEGREE SIGN}F")

Enter degree(s) in celcius:0
0.0°C = 32.0°F

3. Write a Python program to display calendar?

In [8]:
import calendar

year = int(input("Enter year:"))

print(calendar.calendar(year))

Enter year:2023
                                  2023

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                   1             1  2  3  4  5             1  2  3  4  5
 2  3  4  5  6  7  8       6  7  8  9 10 11 12       6  7  8  9 10 11 12
 9 10 11 12 13 14 15      13 14 15 16 17 18 19      13 14 15 16 17 18 19
16 17 18 19 20 21 22      20 21 22 23 24 25 26      20 21 22 23 24 25 26
23 24 25 26 27 28 29      27 28                     27 28 29 30 31
30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2       1  2  3  4  5  6  7                1  2  3  4
 3  4  5  6  7  8  9       8  9 10 11 12 13 14       5  6  7  8  9 10 11
10 11 12 13 14 15 16      15 16 17 18 19 20 21      12 13 14 15 16 17 18
17 18 19 20 21 22 23      22 23 24 25 26 27 28      19 20 21 22 23 24 25
24 25 26 27 28 29 30      29 30 31                  26 27 28 29 30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6                   1  2  3
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       4  5  6  7  8  9 10
10 11 12 13 14 15 16      14 15 16 17 18 19 20      11 12 13 14 15 16 17
17 18 19 20 21 22 23      21 22 23 24 25 26 27      18 19 20 21 22 23 24
24 25 26 27 28 29 30      28 29 30 31               25 26 27 28 29 30
31

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                   1             1  2  3  4  5                   1  2  3
 2  3  4  5  6  7  8       6  7  8  9 10 11 12       4  5  6  7  8  9 10
 9 10 11 12 13 14 15      13 14 15 16 17 18 19      11 12 13 14 15 16 17
16 17 18 19 20 21 22      20 21 22 23 24 25 26      18 19 20 21 22 23 24
23 24 25 26 27 28 29      27 28 29 30               25 26 27 28 29 30 31
30 31

4. Write a Python program to solve quadratic equation?

In [11]:
import cmath

a = int(input("Enter the value for a:"))
b = int(input("Enter the value for b:"))
c = int(input("Enter the value for c:"))

d = (b**2) - (4*a*c)

sol1 = (-b-cmath.sqrt(d))/(2*a)
sol2 = (-b+cmath.sqrt(d))/(2*a)

print(f"The solutions are {sol1} and {sol2}")

Enter the value for a:1
Enter the value for b:5
Enter the value for c:6
The solutions are (-3+0j) and (-2+0j)

5. Write a Python program to swap two variables without temp variable?

In [12]:
x = int(input("Enter first number:"))
y = int(input("Enter second number:"))

print(f"Numbers before swapping: {x},{y}")

x,y = y,x

print(f"Numbers after swapping: {x},{y}")

Enter first number:5
Enter second number:6
Numbers before swapping: 5,6
Numbers after swapping: 6,5